---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Music from '../components/Music.astro';
import Shows from '../components/Shows.astro';
import Gallery from '../components/Gallery.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Music />
    <Shows />
    <Gallery />
    <Contact />
  </main>
  <Footer />
</Layout>
